.trending-story-item {
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 440px;
	gap: 13px;
	font-family: 'Inter', sans-serif;
			font-style: normal;

	.trending-story-image {
		width: 260px;
		height: 240px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.trending-story-title {
		font-weight: 700;
		font-size: 19px;
		line-height: 30px;
	}

	.trending-story-content {
		font-weight: 400;
		font-size: 15px;
		line-height: 26px;
		color: #7D7987;
	}

	.trending-story-read-more {
		font-weight: 600;
		font-size: 15px;
		line-height: 28px;
		color: #FB8F1D;
	}
}