.destination-item {
	width: 260px;
	height: 330px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	position: relative;

	.destination-info {
		width: 120px;
		height: 50px;
		background: white;
		position: absolute;
		bottom: 0;
		border-radius: 0px 6px 0px 0px;
		font-family: 'Inter',sans-serif;

		.destination-place {
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			color: #042521;
				padding-top: 10px;
		}
		
		.destination-country {
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			color: #80918E;
		}
	}
}