.header-container {

	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.header-container-list {

		list-style-type: none;
		display: flex;
		column-gap: 35px;
		align-items: center;

		.header-container-links {
			font-weight: 500;
			font-size: 15px;
			color: #B8BECD;
			font-family: "Inter", sans-serif;
		}
		
		.active .header-container-links{
			color: #202336;
		}

		.secondary-btn .header-container-links, .primary-btn .header-container-links{
			width: 132px;
			height: 44px;
			text-align: center;
		}

	}

}

@media screen and (max-width: 700px) {
	.header-container {
		flex-direction: column; 
		row-gap: 20px;
		
		.header-container-list {
			flex-direction: column;
			row-gap: 20px;
		}
	}
}